.vscode/
.idea/
lib/
node_modules/
platforms/
tmp/
typings/
hooks/
docs/
report/
coverage/
.baseDir.ts
.tscache
.sass-cache/
e2e/reports
e2e/**/*.js
*-results.xml
app/**/*.js
app/**/*.map
app/**/*.css
package-lock.json
