<ActionBar title="Test Chart" class="action-bar">
    <NavigationButton text="Voltar" android:icon="res://ic_arrow_back" (tap)="back()"></NavigationButton>
</ActionBar>

<GridLayout rows="*">
    <StackLayout row="0" col="1"  height="210">
        <GridLayout>
            <RadCartesianChart tkExampleTitle tkToggleNavButton [horizontalZoom]="2" >
                <CategoricalAxis tkCartesianHorizontalAxis allowPan="true" allowZoom="true"></CategoricalAxis>
                <LinearAxis *ngIf="!isIOs" tkCartesianVerticalAxis labelFormat="%.0f" allowPan="true"></LinearAxis>
                <Trackball tkCartesianTrackball></Trackball>

                <BarSeries tkCartesianSeries [items]="outubro" selectionMode="stackMode" categoryProperty="Country" valueProperty="Amount" [showLabels]="showLabelProperty" >
                    <PointLabelStyle tkBarLabelStyle margin="10" fontStyle="Bold" fillColor="#60B3FC" textSize="10" textColor="White"></PointLabelStyle>
                </BarSeries>
            </RadCartesianChart>
        </GridLayout>
    </StackLayout>
</GridLayout>