<ActionBar title="Test Chart" class="action-bar">
    <NavigationButton text="Voltar" android:icon="res://ic_arrow_back" (tap)="back()"></NavigationButton>
</ActionBar>

<GridLayout rows="*">

    <RadCartesianChart tkExampleTitle tkToggleNavButton (chartZoomed)="teste($event)">
        <LinearAxis tkCartesianHorizontalAxis allowPan="true" allowZoom="true"></LinearAxis>
        <Trackball tkCartesianTrackball></Trackball>


        <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="Age" yProperty="Salary"></ScatterSeries>
        <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="Age" yProperty="Spendings"></ScatterSeries>
        <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="Age" yProperty="Savings"></ScatterSeries>

        <!--
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc0" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc1" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc2" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc3" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc4" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc5" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc6" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc7" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc8" ></ScatterSeries>
            <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc9" ></ScatterSeries>

        -->
    </RadCartesianChart>

</GridLayout>