<ActionBar title="Test Chart" class="action-bar">
    <NavigationButton text="Voltar" android:icon="res://ic_arrow_back" (tap)="back()"></NavigationButton>
</ActionBar>

<GridLayout rows="*">
      <RadCartesianChart tkExampleTitle tkToggleNavButton>
        <LinearAxis tkCartesianHorizontalAxis></LinearAxis>
        <LinearAxis tkCartesianVerticalAxis></LinearAxis>

        <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc0"></ScatterSeries>
        <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc1"></ScatterSeries>
        <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc2"></ScatterSeries>
        <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc3"></ScatterSeries>
        <ScatterSeries tkCartesianSeries [items]="scatter" xProperty="dia" yProperty="imc4"></ScatterSeries>

    </RadCartesianChart>

</GridLayout>